.container{
    /* background-color: black; */
}

.webInfo{
    color: rgb(107, 176, 255);
    font-size:xxx-large;
    margin-top: 30px;
}

#webDesc{
    font-size:xx-large;
}

.formContainer{
    color: blue;
}